mixin CreateBox(title, content, button, imgName)
    .box
        .content
           h1=title
           p=content
           a(href="#" class="button")=button
        .picture
            img(src=imgName)

mixin CreateTitle(title, content)
    .title
        h1=title
        p=content

mixin CreatePrice(className, count, title, price )
    div(class=className)
        - for (var i=1; i<= count; i++)
            img(src="dogpic.png")
        h1=title
        h3=price
        ul
            li 寵物講座
            li 飼料試吃包
            li 寵物寫真
            li 寵物旅館
            li 寵物健康檢查

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title DogLife.
        link(rel="stylesheet", href="index.css")
    body 
        .main
            include nav.pug
            +CreateBox("狗狗可愛","我們是熱心的愛狗人士","詳閱","dog1.jpg")
            +CreateTitle("歡迎來到我們的網站","他們是我們心中最軟的那塊")
            +CreateBox("快樂的寵物","他們很快樂,三杯三杯","詳閱2","dog2.jpg")
            +CreateBox("寵物寫真","狗狗野外露出","詳閱3","dog3.jpg")
            +CreateTitle("價格表","我們提供三種付費服務")
            .priceBox
                +CreatePrice("basic", 1, "南部人", "300元")
                +CreatePrice("prem", 2, "中部人", "1000元")
                +CreatePrice("pro", 3, "天龍人", "3000元")
            +CreateTitle("聯絡我們","有問題歡迎來信")
            .contact
                form
                    label(for="name") 姓名
                    input(type="text" id="name")
                    label(for="email") 信箱
                    input(type="email" id="email")
                    label(for="message") 訊息
                    textarea(name="message" id="message" cols="30" rows="10")
                .text
                    h3 地址
                    p 北屯派出所
                    h3 信箱
                    p 8787@gmail.com
                    h3 電話
                    p 0204
            footer
                .footerBox
                    .smallBox
                        h3 關於我們
                        p 歡迎來到我們的網站", "在我們的網站內，你可以找到跟寵物相關的資訊。
                    .smallBox
                            h3 快速連結
                            ul
                                li #[a(href="#") 首頁]
                                li #[a(href="#") 關於]
                                li #[a(href="#") 價格]
                                li #[a(href="#") 聯絡]
                    .smallBox
                        h3 追蹤我們
                            img(src="Facebook.png", alt="facebook")
                            img(src="ig.png", alt="instagram")
                            img(src="Youtube.png", alt="youtube")
                hr
                .copyright roger &copy; 2019 